/* 여백과 패딩은 0에서 시작한다. */
*{
	margin:0; padding:0;
	font-family:Verdana;
}
table, td{
	border:0px solid red;
}
table.allWrap{
	width:80%;
	/* div나 table을 가운데로 정렬할때 주로 사용 */
	margin:0 auto;
}
td.topMenu{
	text-align:right;
}
td.topMenu ul li{
	display:inline;
	border-right:1px solid gray;
	padding-right:5px;
}
td.topMenu ul li:last-child{
	border:none;
	margin-right:15px;
}
td.leftMenu{
/* 수직 상태에서의 정렬 */
	vertical-align:top;
}
td.leftMenu ul{
	list-style-type:none; /* ul태그에서 블릿을 제거 */
	margin:15px 0 0 15px; /* top rignt bottom left 순서 */
}
td.leftMenu ul li{
	padding-bottom:20px;
}
td.contents{
	padding:15px;
}
td.copyright{
	text-align:center;
	font-style:normal;
	height:80px;
	line-height:80px;
}

	</style>